@media (max-width: 1301px) {
    header {
        padding: 6px 57px;
    }

    .Travel_News {
        padding: 0 57px;
    }

    .Discovery {
        padding: 48px 57px;
    }

    .section3 {
        padding: 48px 57px;
    }

    .sec3Images article {
        width: 49.3%;
    }

    .sec3img7,
    .sec3img8,
    .sec3img9 {
        display: none;
    }
}

@media (max-width: 835px) {
    header {
        padding: 6px 46px;
    }

    .Travel_News {
        height: 438px;
        padding: 0 46px;
    }

    .Discovery {
        padding: 40px 46px;
    }

    .section2_images article {
        width: 48.65%;
    }

    .sec2_img3 {
        display: none;
    }

    .section3 {
        padding: 40px 46px;
    }
}